<section>
  <div class="section-container">
    <div class="info--np">
      <div class="heading-info">
        <h1 class="heading-primary">Revenue</h1>
        <h2 id="revenue">€ <%= revenue %></h2>
      </div>
    </div>

    <div class="info--np">
      <div class="heading-info">
        <h1 class="heading-primary">Cash</h1>
        <h2 id="cash">€ <%= cash%></h2>
      </div>
    </div>
    <div class="info--np">
      <div class="heading-info">
        <h1 class="heading-primary">Pin</h1>
        <h2 id="pin">€ <%= pin%></h2>
      </div>
    </div>

    <div class="info--np">
      <div class="heading-info">
        <h1 class="heading-primary">Purchase</h1>
        <h2 id="purchaseCalc">€ <%= purchase %></h2>
      </div>
    </div>
    <div class="info--np">
      <div class="heading-info">
        <h1 class="heading-primary">Salary</h1>
        <h2 id="salary">€ <%= salary%></h2>
      </div>
    </div>
    <div class="info--np">
      <div class="heading-info">
        <h1 class="heading-primary">Profit/Loss</h1>
        <h2 class="profitLosStyle" id="profitLoss">€ <%= profitLoss %></h2>
      </div>
    </div>
  </div>
</section>
